@import '//cloud.typography.com/6403676/7429012/css/fonts.css';
html body{font-family:Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;font-weight:300}
h1 {
  color: #E41C39;
}

h2 {
  color: #6c3483;
}

h3 {
  color: #8e44ad;
}

a {
  color: #3498db;
}

.inverse {
  background: #272822;
  color: #777872;
}

.inverse h1, .inverse h2 {
  color: #a3e4d7;
  line-height: 0.8em;
}

.background h1 {
  color: #e8daef;
}

.left-column {
  width: 50%;
  float: left;
}

.right-column {
  width: 50%;
  float: right;
}